
@font-face {

	font-family: "SourceSansPro"; 

	src: url("../src/fonts/SourceSansPro-Light.ttf") format("truetype"); 
	
	} 
@font-face {
	font-family: "SourceSansPro-SemiBold";
	src: url("../src/fonts/SourceSansPro-SemiBold.ttf");
}
@font-face {
	font-family: "SourceSansPro-Regular";
	src: url('../src/fonts/SourceSansPro-Regular.ttf');
}
